@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    color: #000;
    font-size: 62.5%;
    line-height: 1.4;
  }

  body {
    min-height: 100vh;
    background-color: #090e1a;
  }

  img {
    height: auto;
    display: block;
    max-width: 100%;
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: 116rem;
    margin: 0 auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .slogan {
    position: relative;
  }

  .slogan::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 7rem;
    height: 0.2rem;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
  }

  .text-magic {
    color: transparent;
    background-image: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .hover-text-underline {
    position: relative;
  }

  .hover-text-underline::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.2s;
  }

  .hover-text-underline:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  .text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .bg-code {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 8px #ffffff08;
    border-radius: 2.4rem;
  }

  .text-title {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
  }

  .text-title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 7rem;
    height: 0.2rem;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    bottom: 0;
  }

  .btn {
    outline: none;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 12rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.25s ease;
  }

  .btn:hover {
    opacity: 0.95;
  }

  .btn.btn-primary {
    background-color: #20e3b2;
  }

  .btn.btn-outline {
    color: #000;
    border: 1px solid #d1d1d1;
    background-color: transparent;
  }

  .btn.btn-magic {
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
  }

  .btn.btn-outline:hover {
    background-color: #d1d1d1;
  }

  .btn.btn-shadow {
    box-shadow: 0 4px 14px 0 #20e3b2;
  }

  .bg-button {
    background-color: #090e1a;
  }

  .shadow-magic {
    box-shadow: #20e3b2 0px 3px 8px;
  }
}
