.modal__header {
  padding: 1.5rem;
  border-bottom: 1px solid #d1d1d1;
}

.modal__body {
  padding: 1.5rem;
}

.modal__footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #d1d1d1;
}
