.modal__root {
  padding: 1.6rem;
}

.modal__root.fullScreen {
  padding: 0;
}

.modal__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.modal__backdrop.fullScreen {
  display: none;
}

.modal__wrapper {
  z-index: 10;
  max-height: 100%;
  min-height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.modal__wrapper.fullScreen {
  max-height: 100%;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  border-radius: 0;
}

.modal__header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
}

.modal__header button > svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.modal__body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 1.5rem;
}

.modal__footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #d1d1d1;
}

/* Animations */

/* zoom in/out */

.modal__root.zoom-enter > .modal__wrapper {
  opacity: 0;
  transform: scale(0.5);
}

.modal__root.zoom-enter-active > .modal__wrapper {
  opacity: 1;
  transform: scale(1);
  transition: transform calc(250 * 1ms) ease, opacity calc(250 * 1ms) ease;
}

.modal__root.zoom-exit > .modal__wrapper {
  opacity: 1;
  transform: scale(1);
}

.modal__root.zoom-exit-active > .modal__wrapper {
  opacity: 0;
  transform: scale(0.5);
  transition: transform calc(250 * 1ms) ease, opacity calc(250 * 1ms) ease;
}

/* Fade in/out */
.modal__root.fade-enter > .modal__wrapper {
  opacity: 0;
}

.modal__root.fade-enter-active > .modal__wrapper {
  opacity: 1;
  transition: opacity calc(calc(250 * 1ms) * 0.8) calc(calc(250 * 1ms) * 0.2) ease;
}

.modal__root.fade-exit > .modal__wrapper {
  opacity: 1;
}

.modal__root.fade-exit-active > .modal__wrapper {
  opacity: 0;
  transition: opacity calc(calc(250 * 1ms) * 0.8) calc(calc(250 * 1ms) * 0.2) ease;
}
